# 「.streamlit」フォルダ配下にsecrets.tomlを作り、以下の変数を設定してください

OPENAI_API_KEY = "XXX"

# 以下はこれから必要な場面が生じたときに順次設定してください。
SUPABASE_URL="XXX"
SUPABASE_KEY="XXX"

redirect_uri = "XXX"
cookie_secret = "XXX"
client_id = "XXX"
client_secret = "XXX"
server_metadata_url = "XXX"
